 /* {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: rgb(242, 21, 227);
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    border: solid white 1px;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
    border: solid white 1px;
}
.navbar__s3{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
/* My learning popup */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border:solid black 1px;
    width: 100px;
    top:150%;
    right: 0px;
    padding: 20px;
    display: none;

}
.mylearning:hover .mylearning__popup{
    display:block;
}

/* Categories started */
.containers{
    display: flex;
    justify-content: space-around;
    margin:10px;
    margin-left: 5px;
    border-bottom: solid black 1px;

}
.containers p{
    background-color: rgb(242, 16, 227);
    padding: 10px;
    border-radius: 20px;
    color: aliceblue;
    margin-bottom: 5px;
    cursor: pointer;
    border: solid black 1px;
    
    
}
.containers p:hover{
    background-color: white;
    color:black;
    border: solid pink 1px;
    transition: 1s;

}
.sale-image{
    position: relative;
}

.sale-image__offer{
    width: 30%;
    border:solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top:10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.sale-image img{
    width: 100%;
    

}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
   
    justify-content: space-between;
    flex-wrap: wrap;
   
    margin-top: 10px;


}
.course-card{
    width: 250px;
    /* display: flex;
    flex-direction: column;
    margin-left: 10px;
    display: inline-block;
    justify-content: space-around; */
   
    
}
.course-card img{
    width: 100%;
    
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
   
}
.topics__container p{
    border: solid gray 2px;
    padding:"10"px;
    flex-grow: 1;
   
    flex-basis: 25%;

   
    
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer{
    padding: 30px;
    background-color: black;
    color: azure;
}

.footer__one p{
    margin: 20px;
    padding: 3px;
    

}


.footer__one{
    display: flex;
    gap: 10px;
   
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}